

body{
  background: rgb(99,101,110);
  background: radial-gradient(circle, rgba(99,101,110,1) 0%, rgba(69,80,145,1) 100%);
  font-family: 'Poppins', sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
}